.unl-progress-summary {
    background-color: #B0D3E7;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.unl-progress-summary h2 {
    margin-top: 0px;

}

.progress-self-report {
    border: none;
}

.wdn-main a.external {
    border: none;
}

@media (min-width: 480px) {
    .progress-self-report {
        border-left: 1px solid black;
    }
}

.select2-container {
    width: 100%;
    display: block;
}

.framework-chart .line-legend li {
    display: inline-block;
}

.framework-chart .line-legend span.color {
    margin-bottom: 1em;
}

.framework-chart canvas {
    min-height: 500px;
}

.table-scroll-container {
    position: relative;
}

.table-scroll {
    overflow:auto;
}

.table-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    height: .5em;
}
.table-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

span.legend-color {
    height: .5em;
    display: block;
}

.site-list-progress {
    margin-left: 0px;
    padding-left: 0px;
}

.site-list-progress .site {
    list-style-type: none;
    padding: 5px;
    margin-left: 0px;
}

.site-list-progress .site .progress {
    clear: both;
}

.site-list-progress .site .progress dt {
    font-weight: bold;
}

.site-list-progress .site .url {
    font-weight: bold;
    font-size: 1.4em;
    word-wrap: break-word;
}

.site-list-progress .site .title {
    font-size: .8em;
}